body {
    background-image: url(https://www.mouser.it/blog/Portals/11/Plato_Think-Like-a-Hacker_share_1.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.color-top {
    background-color: rgb(12, 47, 124);
    color: rgb(71, 255, 253);
}

.color-bottom {
    background-color: rgb(71, 255, 253);
    color: rgb(12, 47, 124);
}