body {
    background-image: url(../img/attacco-hacker-bitcoin-125136.large.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.color-top {
    background-color: rgb(12, 47, 124);
    color: rgb(71, 255, 253);
}

.color-bottom {
    background-color: rgb(71, 255, 253);
    color: rgb(12, 47, 124);
}